* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(69, 65, 150) 0%,
    rgba(206, 192, 202, 0.457) 74%,
    rgba(0, 212, 255, 1) 100%
  );
  color:white
}
.heading {
  color:black;
  font-size: 4rem;
  margin: 15px;
}
input:focus {
  outline: none;
}
#inputBox {
  width: 70vw;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.add{
  height: 2.5em;
  width: 10vw;
  border-radius: 5px;
  border: none;
  background-color:blueviolet;
  color: white;
}
#todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 10px;
}
.checkbox{
  margin-right:15px;
  height: 1.5em;
  width: 1.5em;
}
.editButton{
  height: 2em;
  width: 5em;
  border-radius: 5px;
  border: none;
  background-color:green;
  float:right;
  color: white;
}
.deleteButton{
  float:right;
  height: 2em;
  width: 5em;
  border-radius: 5px;
  border: none;
  background-color:red;
  color: white;
}

.todoList {
  float:left;
  list-style: none;
  margin-bottom: 8px;
  border-bottom: 1px solid olive;
}
.strike {
  text-decoration: line-through;
  list-style: none;
  margin-bottom: 8px;
  border-bottom: 1px solid olive;
}
.remove-strike {
  text-decoration: none;
  list-style: none;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(231, 231, 134);
}
